@import url(code.css);
@import url(reset.css);

body { 
    background-color: whitesmoke;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a { 
    color: darkblue;
    text-decoration: none
}

a:hover { color: black }

p {
    margin: 0 0 15px;
    text-align: justify;
}

ul, ol { margin: 0px 15px 15px; }

h1, h2, h3, h4, h5, h6 {
    color: #181821;
    margin: 30px 0 15px;
}

h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

em { font-style: italic }

ul { list-style: inside disc; }
ol { list-style: inside decimal; }

.highlight {
    border: 2px solid lightgray;
    margin: 15px;
    padding: 15px;
}

.white { color: white; }

.banner {
    background-color: #181821;
    padding: 20px;
    border-bottom: 10px solid gray;
}

.banneritem {
    margin: 10px 25px;
    color: skyblue;
    display: inline-block;
}

.banneritem:hover { color: white; }

.content {
    padding: 50px 7.5%;
}

.footer {
    font-size: x-small;
}

.postlisting {
    background-color: snow;
    border: 2px solid lightgray;
    padding: 10px;
    margin-bottom: 10px;
}

.categorylist {
    font-size: small;
}

@media (min-width: 1000px) {
    .banner {
        border-bottom: none;
        border-right: 10px solid gray;

        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;

        width: 250px;
    }

    .banneritem {
        margin: 10px 15px;
    }

    .content {
        position: absolute;
        left: 260px;
    }
}
